@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.container > div {
  @apply p-8;
}

ol > li::marker {
  @apply font-medium;
}
